{% extends "page.html" %}
{%- set cancel_id = ui.util.id() -%}

{% block subtitle %}
    {{ ui.subtitle_item(_("Workflow Progress")) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content_inner -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Workflow Definitions"), href=h.url_for("workflow.list_definitions")) }}
{%- endblock %}

{%- block content_action -%}
    {{ ui.content_action(_("My Tasks"), icon="list-check", href=h.url_for("workflow.user_dashboard")) }}
    {{ ui.content_action(_("Monitoring"), icon="dashboard", href=h.url_for("workflow.admin_dashboard")) if current_user.sysadmin }}
{%- endblock %}

{% block secondary_content %}
    {%- call ui.util.call(ui.sidebar_section, icon="info-circle", title=_('Workflow Progress')) -%}
        <div class="workflow-timeline">
            <div class="timeline-line"></div>

            {% for task in instance.tasks %}
                {% set is_current = (task.sequence == instance.current_step_index and instance.status in ['active', 'overdue']) %}
                {% set is_completed = (task.status == 'completed') %}
                {% set is_rejected = (task.status == 'rejected') %}
                {% set is_future = (task.sequence > instance.current_step_index or instance.status in ['completed', 'rejected', 'cancelled']) %}

                <div class="timeline-item timeline-item--{{ 'completed' if is_completed else 'rejected' if is_rejected else 'current' if is_current else 'default' }}">
                    <div class="timeline-bullet" >
                        {{ ui.icon("check") if is_completed else ui.icon("times") if is_rejected else task.sequence + 1 }}
                    </div>

                    <div class="timeline-info">
                        <h4>
                            {{ task.name }}
                            {% if is_current %}
                                {{ ui.badge("CURRENT") }}
                                {{ ui.badge("OVERDUE", style="danger") if instance.status == 'overdue'}}
                            {% endif %}
                        </h4>

                        <p>
                            <strong>Assignee:</strong> Role "{{ task.assigned_role|upper }}"
                            <br/>
                            <strong>Type:</strong> {{ task.step_type|upper }}
                        </p>

                        {% if task.instructions and not is_future %}
                            <p>
                                {{ task.instructions }}
                            </p>
                        {% endif %}

                        {% if is_completed or is_rejected %}
                            <div>
                                <strong>Action by:</strong> {{ task.completed_by }}
                                <br/>
                                <strong>Date:</strong> {{ ui.datetime(task.completed_at) }}
                                {% if task.comments %}
                                    <br /><strong>Comment:</strong> {{ task.comments }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {%- endcall %}

    {%- call ui.util.call(ui.sidebar_section, title=_("Workflow Status")) -%}
        <strong>Status:</strong>
        {%- set style = "primary" -%}
        {% if  instance.status in ['overdue', "rejected"] %}
            {%- set status = "danger" -%}

        {% elif instance.status == 'completed' %}
            {%- set status = "success" -%}

        {% elif instance.status == 'cancelled' %}
            {%- set status = "warning" -%}

        {% endif %}
        {{ ui.badge(instance.status) }}

        <div>
            <strong>Started At:</strong> {{ ui.datetime(instance.started_at) }}
        </div>
        <div>
            <strong>Last Update:</strong> {{ ui.datetime(instance.updated_at) }}
        </div>

        {% if instance.status in ['active', 'overdue'] %}
            {{ ui.modal_handle(_("Cancel Workflow"), icon="ban", id=cancel_id, style="warning") }}
        {% endif %}
    {%- endcall %}
{% endblock %}


{% block primary_content_inner %}
    {% if can_act and current_task %}
        <h3>
            {{ _("Perform Task") }}
        </h3>

        <div>
            <strong>Step Name:</strong> {{ current_task.name }}
            <br>
            <strong>Step Type:</strong> {{ current_task.step_type|upper }}
        </div>

        {{ ui.alert(current_task.instructions, style="info") if current_task.instructions}}

        {% if current_task.step_type == 'manual_task' %}
            {{ ui.button(_("Edit Dataset in New Tab"), href=h.url_for(package.type|default("dataset") ~ ".edit", id=package.name), blank=true) }}
        {% endif %}


        {%- call ui.util.call(ui.form, method="POST", action=h.url_for("workflow.task_action", instance_id=instance.id, sequence=current_task.sequence)) -%}
            {{ ui.textarea(name="comment", label=_("Comment"), placeholder="Add optional details about your decision...") }}

            {%- call ui.util.call(ui.form_actions) -%}
                {% if current_task.step_type == 'approval' %}
                    {{ ui.button(_("Approve"), icon="check", type="submit", style="success", attrs={"name": "action_type", "value": "approve"}) }}

                    {{ ui.button(_("Reject"), icon="times", type="submit", style="danger", attrs={"name": "action_type", "value": "reject"}) }}
                {% else %}
                    {{ ui.button(_("Mark as Complete"), icon="check-circle", type="submit", style="success", attrs={"name": "action_type", "value": "complete"}) }}

                {% endif %}

            {%- endcall %}
        {%- endcall %}

    {% endif %}


    {% if chart_code %}
        <div>
            <h3>{{ _("Workflow Progress Visualizer") }}</h3>

            <div class="mermaid" style="width: 100%; text-align: center;">
                {{ chart_code }}
            </div>
            {{ ui.empty(_("* The step highlighted in blue represents the current active task.")) }}
        </div>
    {% endif %}



    {{ ui.confirm_modal(_("Are you sure you want to cancel this workflow?"), href=h.url_for("workflow.cancel_workflow", instance_id=instance.id), id=cancel_id) }}
{% endblock %}

{%- block scripts -%}
    {{ super() }}
    <script type="text/javascript">
     mermaid.initialize({
         startOnLoad: true,
         theme: 'default',
         flowchart: {
             useMaxWidth: true,
             htmlLabels: true,
             curve: 'basis'
         }
     });
    </script>
{%- endblock %}
