{% extends "workflow/admin/base.html" %}

{% block subtitle %}
    {{ ui.subtitle_item(_("Monitoring")) }}
    {{ super() }}
{% endblock %}

{% block secondary_content %}
    {%- call ui.util.call(ui.sidebar_section, icon="info-circle", title=_('Workflow Monitoring')) -%}
        <p>{{ _("Monitor progress, troubleshoot and inspect all publication workflow instances.") }}</p>
    {%- endcall %}
{% endblock %}


{% block primary_content_inner %}
    {% if instances %}
        {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
            {{ ui.table_head(ui.table_row(ui.util.map(ui.table_cell, ["Dataset", "Workflow", "Current / Final Step", "Assigned Role", "Started At", "Last Update", "Status", "Actions"], header=true))) }}

            <tbody>
                {% for item in instances %}
                    {% set inst = item.instance %}
                    {% set pkg = item.package %}
                    {% set task = item.current_task %}

                    <tr>
                        <td>
                            {{ ui.link(pkg.title, href=h.url_for(pkg.type|default("dataset") ~ ".read", id=inst.object_id)) }}
                        </td>
                        <td>{{ inst.workflow.name }}</td>
                        <td>
                            {% if inst.status in ['active', 'overdue'] and task %}
                                <strong>
                                    {{ _("Step {num}: {name}").format(num=task.sequence + 1, name=task.name) }}
                                </strong>
                                <br>
                                <small>{{ task.step_type|upper }}</small>

                            {% elif inst.status == 'completed' %}
                                <span>
                                    {{ ui.icon("check") }}
                                    {{ _("Completed") }}
                                </span>

                            {% elif inst.status == 'rejected' %}
                                {{ ui.icon("times") }}
                                {{ _("Rejected") }}

                            {% elif inst.status == 'cancelled' %}
                                {{ ui.icon("ban") }}
                                {{ _("Cancelled") }}

                            {% endif %}
                        </td>
                        <td>
                            {% if inst.status in ['active', 'overdue'] and task %}
                                {{ ui.badge(task.assigned_role|upper, style="info") }}

                            {% else %}
                                {{ ui.empty("---") }}

                            {% endif %}
                        </td>
                        <td>{{ ui.datetime(inst.started_at, with_hours=true) }}</td>
                        <td>{{ ui.datetime(inst.updated_at, relative=true) }}</td>
                        <td>
                            {% if inst.status == 'active' %}
                                {{ ui.badge(inst.status) }}

                            {% elif inst.status == 'overdue' %}
                                {{ ui.badge(inst.status, style="danger") }}

                            {% elif inst.status == 'completed' %}
                                {{ ui.badge(inst.status, style="success") }}

                            {% elif inst.status == 'rejected' %}
                                {{ ui.badge(inst.status, style="danger") }}

                            {% elif inst.status == 'cancelled' %}
                                {{ ui.badge(inst.status, style="warning") }}

                            {% endif %}
                        </td>
                        <td>
                            {{ ui.button(_("Details"), icon="eye", href=h.url_for("workflow.instance_detail", instance_id=inst.id), size="sm") }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        {%- endcall %}

    {% else %}
        {{ ui.empty("No workflow instances exist yet. Created datasets will trigger workflows.") }}

    {% endif %}

{% endblock %}
