{% ckan_extends %}

{%- block styles -%}
    {{ super() }}
    {%- asset "workflow/styles" -%}
{%- endblock %}

{%- block scripts -%}
    {{ super() }}
    {%- asset "workflow/scripts" -%}
    <script src="https://unpkg.com/alpinejs@3.15.12/dist/cdn.min.js" integrity="sha512-CjD2l6/z0P1nUAHl+/lyS6NwV2bp2ijelm2Eqqg5TuGM8/Sc9WiNEtUfKm/Ac7OppXjthmZATFM5nnq7OyEPYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://unpkg.com/mermaid@11.16.0/dist/mermaid.min.js" integrity="sha512-8UbMn/ZqBJA/3wv0fonAYSO43pjiYlahEgN1dswzfs0SPwRfPCWm0uD39DYOxOOKIQrpqedbq+guyeRLKapjDg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

{%- endblock %}
